<%= form_with(url: search_nutritions_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "食品名を入力", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class='main-contents'>

    <h1 class="contents-title">食品一覧</h1>
    <table border="5" width="80%" cellpadding="20" bordercolor="#882d91" class="contents-column">
      <tr class="column-name">
        <th width="30%" height="50">食品名</th>
        <th width="15%">タンパク質</th>
        <th width="15%">脂質</th>
        <th width="15%">炭水化物</th>
      </tr>

      <% @nutritions.each do |nutrition| %>
        <tr height="60" class="content-post">
          <td class="ingredient-culomn"><%= nutrition.ingredient %>
            <div class="more">
              <ul class="more-list">
                <li>
                  <%= link_to '削除', nutrition_path(nutrition.id), method: :delete, data: { confirm: '削除しますか？'} %>
                </li>
              </ul>
            </div>
          </td>
          <td><%= nutrition.protein %></td>
          <td><%= nutrition.lipid %></td>
          <td><%= nutrition.carbohydrate %></td>
        </tr>
      <% end %>
    </table>

</div>
