<div class="background-image">
  <div class="contents-new">
      <div class="container">
        <h3>食品を登録 <br>
          <span style="font-size:14px"> (100gあたり/半角英数) </span>
        </h3>
        <%= form_with(model: @nutrition, local: true) do |form| %>

          <%= form.text_field :ingredient, autofocus: true, placeholder: "食品名", class: "new-food-info" %>
          <%= form.text_field :calorie, placeholder: "カロリー  ( kcal )", class: "new-food-info" %>
          <%= form.text_field :protein, placeholder: "タンパク質  ( g )", class: "new-food-info" %>
          <%= form.text_field :lipid, placeholder: "脂質  ( g )", class: "new-food-info" %>
          <%= form.text_field :carbohydrate, placeholder: "炭水化物  ( g )", class: "new-food-info" %>
          <%= form.text_field :potassium, placeholder: "カリウム  ( mg )", class: "new-food-info" %>
          <%= form.text_field :calcium, placeholder: "カルシウム  ( mg )", class: "new-food-info" %>
          <%= form.text_field :iron, placeholder: "鉄  ( mg )", class: "new-food-info" %>
          <%= form.text_field :vitamin_a, placeholder: "ビタミンA  ( mg )", class: "new-food-info" %>
          <%= form.text_field :vitamin_b1, placeholder: "ビタミンB1  ( mg )", class: "new-food-info" %>
          <%= form.text_field :vitamin_b2, placeholder: "ビタミンB2  ( mg )", class: "new-food-info" %>
          <%= form.text_field :vitamin_c, placeholder: "ビタミンC  ( mg )", class: "new-food-info" %>
          <%= form.text_field :dietary_fiber, placeholder: "食物繊維  ( g )", class: "new-food-info" %><br>
          <div class="new-food-btn"><%= form.submit "登録" %></div>

        <% end %>
      </div>
    </div>
  </div>
</div>
