<%= form_with(url: search_nutritions_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "もう一度検索する", class: "search-input" %>
  <%= form.submit "Search", class: "search-btn" %>
<% end %>

<script src="delete.js"></script>

<div class='main-contents'>

    <h1 class="contents-title">食品一覧(100gあたり)</h1>
    <table border="5" width="80%" cellpadding="20" bordercolor="#882d91" class="contents-column" align="left">
      <tr class="column-name">
        <th width="30%" height="50">食品名</th>
        <th class="column-color1" width="15%">エネルギー(kcal)</th>
        <th class="column-color1" width="15%">タンパク質(g)</th>
        <th class="column-color1" width="15%">脂質(g)</th>
        <th class="column-color1" width="15%">炭水化物(g)</th>
        <th class="column-color2" width="15%">カリウム(mg)</th>
        <th class="column-color2" width="15%">カルシウム(mg)</th>
        <th class="column-color2" width="15%">鉄(mg)</th>
        <th class="column-color3" width="15%">ビタミンA(mg)</th>
        <th class="column-color3" width="15%">ビタミンB1(mg)</th>
        <th class="column-color3" width="15%">ビタミンB2(mg)</th>
        <th class="column-color3" width="15%">ビタミンC(mg)</th>
        <th width="15%">食物繊維(g)</th>
      </tr>

      <% @nutritions.each do |nutrition| %>
        <tr height="60" class="content-post">
          <%# サインインしているかつ、お気に入り登録している食品は★がつき、カラーは赤になる%>
          <% if user_signed_in? %>
            <% if current_user.already_favorited?(nutrition, current_user) %>
              <td class="ingredient-column fav-color" id="ingredient-column">★<%= nutrition.ingredient %>
            <% else %>
              <td class="ingredient-column" id="ingredient-column"><%= nutrition.ingredient %>
            <% end %>
          <% else %>
            <td class="ingredient-column" id="ingredient-column"><%= nutrition.ingredient %>
          <% end %>
          <div class="more" id="more">
            <ul class="more-list" id="more-list">
              <li>
                <% if user_signed_in? %>
                  <% if current_user.already_favorited?(nutrition, current_user) %>
                    <%# 解除の引数としてid:0を渡しているがこれが無いとidがないというエラーが起きてしまうので応急処置 %>
                    <%= link_to '解除', nutrition_favorites_path(user_id:current_user.id, nutrition_id:nutrition.id, id:0), :style=>"color:green;", method: :delete %>
                  <% else %>
                    <%= link_to '登録', user_favorites_path(user_id:current_user.id, nutrition_id:nutrition.id), :style=>"color:green;", method: :post %>
                  <% end %>
                  <% if current_user.id == nutrition.user.id %>
                    <%= link_to '編集', edit_nutrition_path(nutrition.id), :style=>"color:green;", method: :get %>
                    <%= link_to '削除', nutrition_path(nutrition.id), :style=>"color:green;", method: :delete, data: { confirm: '削除しますか？'} %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        <td><%= number_with_precision(nutrition.calorie, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.protein, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.lipid, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.carbohydrate, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.potassium, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.calcium, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.iron, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.vitamin_a, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.vitamin_b1, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.vitamin_b2, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.vitamin_c, precision: 1, strip_insignificant_zeros: true) %></td>
        <td><%= number_with_precision(nutrition.dietary_fiber, precision: 1, strip_insignificant_zeros: true) %></td>

      </tr>
    <% end %>
  </table>
</div>
