<script src="delete.js"></script>

<div class='main-contents'>
  <p><%= @nickname %>さんの投稿一覧</p>
  <h1 class="contents-title">食品一覧(100gあたり)</h1>
  <table border="5" width="80%" cellpadding="20" bordercolor="#882d91" class="contents-column">
    <tr class="column-name">
      <th width="30%" height="30">食品名</th>
      <th class="column-color1" width="15%">エネルギー(kcal)</th>
      <th class="column-color1" width="15%">タンパク質(g)</th>
      <th class="column-color1" width="15%">脂質(g)</th>
      <th class="column-color1" width="15%">炭水化物(g)</th>
      <th class="column-color2" width="15%">カリウム(mg)</th>
      <th class="column-color2" width="15%">カルシウム(mg)</th>
      <th class="column-color2" width="15%">鉄(mg)</th>
      <th class="column-color3" width="15%">ビタミンA(mg)</th>
      <th class="column-color3" width="15%">ビタミンB1(mg)</th>
      <th class="column-color3" width="15%">ビタミンB2(mg)</th>
      <th class="column-color3" width="15%">ビタミンC(mg)</th>
      <th width="15%">食塩相当量(g)</th>
    </tr>

    <% @nutritions.each do |nutrition| %>
      <tr height="60" class="content-post">
        <td class="ingredient-column" id="ingredient-column"><%= nutrition.ingredient %>
          <div class="more" id="more">
            <ul class="more-list" id="more-list">
              <li>
                <%= link_to '編集', edit_nutrition_path(nutrition.id), method: :get %>
                <%= link_to '削除', nutrition_path(nutrition.id), method: :delete, data: { confirm: '削除しますか？'} %>
              </li>
            </ul>
          </div>
        </td>
        <td><%= nutrition.calorie %></td>
        <td><%= nutrition.protein %></td>
        <td><%= nutrition.lipid %></td>
        <td><%= nutrition.carbohydrate %></td>
        <td><%= nutrition.potassium %></td>
        <td><%= nutrition.calcium %></td>
        <td><%= nutrition.iron %></td>
        <td><%= nutrition.vitamin_a %></td>
        <td><%= nutrition.vitamin_b1 %></td>
        <td><%= nutrition.vitamin_b2 %></td>
        <td><%= nutrition.vitamin_c %></td>
        <td><%= nutrition.salt_equivalent %></td>
      </tr>
    <% end %>
  </table>


<%= link_to "お気に入り", user_favorite_path(current_user.id), method: :get %>


<!--

  <h3>お気に入りの本</h3>
  <table>
    <thead>
        <tr>
          <th>削除</th>
          <th>タイトル</th>
          <th>価格</th>
        </tr>
    </thead>
    <tbody>
      <% @user.nutritions.each do |nutrition| %>
        <tr>
          <td><%= nutrition.ingredient %></td>
          <td><%= nutrition.calorie %></td>
          <td><%= nutrition.protein %></td>
          <td><%= nutrition.lipid %></td>
          <td><%= nutrition.carbohydrate %></td>
          <td><%= nutrition.potassium %></td>
          <td><%= nutrition.calcium %></td>
          <td><%= nutrition.iron %></td>
          <td><%= nutrition.vitamin_a %></td>
          <td><%= nutrition.vitamin_b1 %></td>
          <td><%= nutrition.vitamin_b2 %></td>
          <td><%= nutrition.vitamin_c %></td>
          <td><%= nutrition.salt_equivalent %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
-->

</div>


